#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  box-shadow: 0 0 4px grey;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
}
input {
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: .5px solid grey;
}
input:focus {
  outline: none;
  border: 2px solid green;
}
button {
  width: 40%;
  padding: 10px;
  background-color: rgb(0, 238, 255);
  border: none;
  border-radius: 8px;
  transition: .3s ease-in-out;
}
button:hover {
  background-color: rgb(0, 153, 255);
}
.card-productos {
  box-shadow: 0 0 4px grey;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
  margin-top: 10px;
}
.card-productos p {
  border: thin solid grey;
  width: 100%;
  text-align: left;
}